<footer class="footer">
  <small>
    <a href="http://vector-models.com/">Vector-Models</a>
    by Manaswi Sharma
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://vector-scale.com">Vector-Scale</a></li>
    </ul>
  </nav>
</footer>

